html {
    min-width: 320px;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #9b9999;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    margin: 20px 0 ;
    text-align: center;
    text-transform: uppercase;
    color: #666262;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header_logo {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.logo {
    text-decoration: none;
    color: #666262;
}


.header_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: solid 1px #9b9999;
    padding: 20px 0;
}

/*-----Social-----*/

.header_social {
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.social_item {
    width: 35px;
    height: 35px;
    background-color: #666262;
    opacity: 0.7;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    align-items: center ;
}

.social_item:hover {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/*-----Nav-----*/

.nav {
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 20px;
    text-transform: uppercase;
}

.nav_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.nav_link {
    color: #666262;
    text-decoration: none;
    margin-right: 30px;
}

.nav_link:nth-child(5) {
    margin-right: 0;
}

.nav_link:nth-child(4) {
    color: #87b672;
}

.nav_link:hover {
    color: #87b672;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/*-----Search-----*/

.form_search {
    position: relative;
    width: 200px;
    margin: 20px 20px 0 0;
    height: 42px;
}

.search {
    height: 30px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    -webkit-transition: .4s cubic-bezier(0, 0.8, 0, 1);
    -o-transition: .4s cubic-bezier(0, 0.8, 0, 1);
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.search:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 2px solid #666262;
    font-family: 'Lato', sans-serif;
    color: #666262;
    font-size: 18px
}

.submit_head {
    background: url('../img/mg.svg') no-repeat;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

header h1 {
    background: url('../img/our-portfolio-background.jpg');
    background-size: cover ;
    padding: 40px 0 ;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

/*---------------about text----------------*/
.container.tittle_and_text {}

.tittle_and_text {
    max-width: 840px;
    margin: 60px auto;
}

h2.tittle {
    text-align: center;
    color: #666262;
    margin-bottom: 30px;
}

p.text {
    text-align: center;
    line-height: 1.5;
}

.about_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about_texts {
    max-width: 30%;
    min-width: 210px;
}

.about_texts p.text {
    text-align: left;
}

/*services------------------------*/

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid;
    padding-top: 50px;
}

.service_block img {
    display: block;
    margin: auto 0;
}

.service_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 500px;
}

.service_block_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
}

.service_block_text h3,
.service_block_text p {
    text-align: left;
}

/*pricing table===============*/

.work_background {
    background: #efefef;
    width: 100%;
    margin-bottom: 60px;
}

.work_background .container_text {
    border-bottom: none;
}

.work_background .container {
    padding: 60px 0;
}

.offers_table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 290px;
    max-height: 462px;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.offer:hover {
    -webkit-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.offer_header {
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    padding: 20px 0;
    background-color: #87b672;
    font-weight: 600;

}

.offer_price {
    font-size: 42px;
    color: #666262;
    font-weight: 600;
}

sup {
    position: relative;
    vertical-align: baseline;
    top:-12px;
}

.offer_text {
    border-top: 1px solid;
    color: #666262;
    padding: 15px 0;
    margin: 0 20px;
}

.offer_footer {
    padding: 20px 0;
    background-color: #87b672;
}

.offer_btn {
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #a5c895;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

.offer_btn:hover {
    cursor: pointer;
    background-color: #558042;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

/*--GCS-------*/

.GCS  {
    margin-bottom: 60px;
}


.GCS_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.GCS_text {
    max-width: 360px;
}

/*-------need theme?*/

.purchase {
    text-align: center;
    border-top: 1px solid;
    margin-bottom: 60px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 22px;
    margin-top: 30px;
    background-color: #87b672;
    border-radius: 1px;
    border: none;
}


.btn:hover {

    -webkit-transition: 0.3s;

    -o-transition: 0.3s;

    transition: 0.3s;
    background-color: #558042;
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

footer {
    background: #333333;
}

.logo_footer {
    color: #ffffff;
    text-decoration: none;
}

.social_item_footer {
    width: 35px;
    height: 35px;
    background-color: #fefefe;
    opacity: 0.7;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center ;
    -ms-flex-align: center ;
    align-items: center ;
}

.social_item_footer:hover {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.footer {
    padding: 60px 0 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.contact  {
    max-width: 180px;
}

.quick_links {
    max-width: 120px;
}

.deliver_footer {
    max-width: 450px;
}

.social_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.deliver_footer .text {
    text-align: left;
    line-height: 1.5;
}

.footer h3 {
    color: #ffffff;
}
.address {
    font-style: normal;
    line-height: 1.5;

}

.contact a {
    display:block;
    font-family: 'Lato', sans-serif;
    color: #9b9999;
    text-decoration: none;
    line-height: 1.5;
}

ul {
    list-style-image: url('../img/list_marker.gif');
    padding-left: 15px;
    line-height: 1.5;
}

li a {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    text-decoration: underline;
}

.footer h3 {
    text-align: left;
}

.newsletter {
    max-width: 240px;
}
.newsletter p {
    line-height: 1.5;
}

.contact_mail {
    margin-top: 10px;
}

.phone.phone {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}

.email {
    width: 160px;
    height: 40px;
    background-color: #4e4c4c;
    color: #ffffff;
    border: none;
    padding: 0 10px;
}

.mail_submit {
    width: 50px;
    height: 40px;
    background-color: #828282;
    color: #ffffff;
    border: none;
    margin-top: 5px;
}

.mail_submit:active {
    border: solid 2px #333333;
}

.bottom {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about {
    text-transform: uppercase;
}

.about a {
    text-decoration: none;
    color: inherit;
}

.about a:hover {
    text-decoration: underline;
}

.copyright span {
    color: #cbcbcb;
}

/*------------------burger--------------*/
.burger {
    padding: 9px 2px;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
    position: absolute;
    left: 20px;
    top:20px;
}

.burger_item {
    display: block;
    width: 30px;
    height: 3px;
    background-color:  #666262;

    font-size: 0;
    color: transparent;
    position: relative;
}

.burger_item:before,
.burger_item:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #666262;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger_item:before {
    top:-8px;
}
.burger_item:after {
    bottom: -8px;
}
/*--------------------media*/
@media only all and (max-width: 1270px) {
    .header_inner {
        margin: 0 20px;
    }

    .nav {
        margin: 20px 20px 0 20px;
    }

    .deliver_footer,
    .contact,
    .quick_links,
    .newsletter {
        margin: 0 20px;
    }

    .copyright,
    .about {
        margin: 0 10px;
    }

    p.text {
        margin: 0 10px;
    }

    .service_block_text p {
        margin-left: 0;
    }

    .offer {
        margin: 20px;
    }

    .offers_table {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .GCS p {
        margin: 10px;
    }

}
@media only all and (max-width: 1100px) {
    .GCS_main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .GCS_text {
        max-width: 100%;
    }

    .work_background{
        margin-bottom: 0;
    }
}
@media only all and (max-width: 810px) {
    .nav {
        display: none;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        text-align: left;
        margin: 10px 0;
        left: 20px;
        top: 70px;
    }

    .nav.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 92%;
        border-bottom: 1px solid;
    }

    .nav_link {
        margin-bottom: 20px;
    }

    .burger {
        display: block;
    }
    .nav_form {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .slide_hid.hid {
        margin-bottom: 150px;
        visibility: hidden;
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 0;
    }

    h3 {
        margin-bottom: 5px;
    }

    ul {
        margin-top: 0;
    }

    .bottom {
        padding: 10px 0;
    }

    .deliver_footer {
        max-width: 100%;
    }

    .purchase {
        margin: 20px auto;
    }
}
@media only all and (max-width: 600px) {
    h1 {
        font-size: 1.6em;
    }

    .tittle_and_text {
        margin: 30px auto;
    }

    .btn {
        margin-top: 0;
    }

    .service_block {
        margin-left: 10px;
    }
}